/.vs
/BatInspector/obj
/BatInspector/bin
/Setup/Release
/Setup/Debug
/libScripter/bin/Debug
/libScripter/obj/Debug
/libScripter/bin/Release
/libScripter/obj/Release
/mod*
/py/__pycache__
/libBioAcoustics/x64
/BatInspector/ViewModel/*.bak
/x64/Debug
