*.bak
/.vs
/BatInspector/log
/BatInspector/obj
/BatInspector/bin
/BatInspector/models/_venv
/Setup/Release
/Setup/Debug
/libScripter/bin/Debug
/libScripter/obj/Debug
/libScripter/bin/Release
/libScripter/obj/Release
/libTeensySharp/obj/Debug
/libTeensySharp/obj/Release
/mod*
/py/__pycache__
/libBioAcoustics/x64
/BatInspector/ViewModel/*.bak
/x64/Debug
/x64/Release
/R
/doc/bioacoustics.pdf
/doc/birdnet.pdf
/doc/ChrisScottAutomatedTechniques.pdf
/doc/Fledermausbestimmung.ods
/doc/Fledermausbestimmung.pdf
/doc/FledermausKlassierung.odt
/doc/FledermausKlassierung.pdf
/doc/wide_residual_networks.pdf
/InnoSetup/ExampleSetup.iss
